<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>NUKUPI</title>
    <!--META-->
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--FONT-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,300,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic' rel='stylesheet' type='text/css'>

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="../css/grid.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/responsive.css">
    <link rel="stylesheet" type="text/css" href="../css/animate.css">


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!--
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/4..0/css/bootstrap-theme.min.css">
    -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <!--<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>-->
    <!--SLIDER-->

    <script>
        var user_id;

        function uploadFile(n, prod_id) {
            var photo;
            if (n == 1) {
                photo = document.getElementById('imgupload1');
            }
            for (var x = 0; x < photo.files.length; x++) {
                console.log(photo.files[x].name);
                var serv_request = new XMLHttpRequest();
                serv_request.open('POST', '/Nukupi/f/rest/images/' + prod_id, false);
                if (serv_request.readyState == 4 && serv_request.status == 200) {
                    respo = serv_request.responseText;
                    console.log(respo);
                    console.log("image uploaded");
                }
                serv_request.send(photo.files[x]);

            }
            // } else if (n==2) {
            //     photo = document.getElementById('imgupload2');
            // } else if (n==3) {
            //     photo = document.getElementById('imgupload3');
            // } else if (n==4) {
            //     photo = document.getElementById('imgupload4');
            // }

            //var file = photo.files[0];

        }

        function getuserid() {
            console.log("here at user");
            var serv_request = new XMLHttpRequest();
            serv_request.open('GET', '/Nukupi/f/rest/users/getuserid', false);
            serv_request.setRequestHeader("Content-type", "application/json");
            serv_request.onreadystatechange = function() {
                if (serv_request.readyState == 4 && serv_request.status == 200) {
                    user_id = serv_request.responseText;

                    console.log(user_id);
                }
            }
            serv_request.send(null);

        }

        function changePassword() {
            var serv_request = new XMLHttpRequest();
            var oldpassword = document.getElementById("old-password").value;
            var newpassword = document.getElementById("new-password").value;
            var data = {
                user_id: user_id,
                old_password: oldpassword,
                new_password: newpassword
            }

            if (oldpassword != '' && newpassword != '') {
                serv_request.open('PUT', '/Nukupi/f/rest/users', false);
                serv_request.setRequestHeader("Content-type", "application/json");
                serv_request.onreadystatechange = function() {
                    if (serv_request.readyState == 4 && serv_request.status == 200) {
                        user_id = serv_request.responseText;
                        window.alert("Password is succesfully changed.");
                        document.getElementById("old-password").value = "";
                        document.getElementById("new-password").value = "";
                    } else {
                        window.alert("Old password doesn't match");
                        document.getElementById("old-password").value = "";
                        document.getElementById("new-password").value = "";
                    }
                }
                serv_request.send(JSON.stringify(data));
            } else {
                window.alert("Please, fill both fields.");
            }


        }

        function searchLogs() {
            var searchword = document.getElementById("logSearchBox").value;
            var loggername;
            if(document.getElementById("logUser").checked) {
                loggername = 'UserService';
            } else if(document.getElementById("logProduct").checked) {
                loggername = 'ProductService';
            } else if(document.getElementById("logImage").checked) {
                loggername = 'ImageService';
            } else {
                loggername = '';
            }
            var serv_request = new XMLHttpRequest();
            serv_request.open('GET', '/Nukupi/f/rest/logger/filters?searchWord='+searchword+'&loggerName='+loggername, false);
            serv_request.setRequestHeader("Content-type", "application/json");
            serv_request.onreadystatechange = function() {
                if (serv_request.readyState == 4 && serv_request.status == 200) {
                    document.getElementById("logSearchBox").value = '';
                    var logdata = JSON.parse(serv_request.responseText);
                    var readymsg = '';
                    for (var i = 0; i < logdata.length; i++) {
                        readymsg = readymsg + new Date(logdata[i].millis).toDateString() + ", " + logdata[i].loggerName + ", " + logdata[i].message + "\n";
                    }
                    document.getElementById("messageBox").innerHTML = readymsg;
                } else
                    console.log("outt");
            }
            serv_request.send(null);
        }


        function logOut() {
            var serv_request = new XMLHttpRequest();
            serv_request.open('GET', '/Nukupi/f/rest/users/logout', false);
            serv_request.setRequestHeader("Content-type", "application/json");
            console.log("HEE");
            serv_request.onreadystatechange = function() {
                if (serv_request.readyState == 4 && serv_request.status == 200) {
                    console.log("HEREEE");
                    window.location.replace("/Nukupi");
                } else
                    console.log("outt");
            }
            serv_request.send(null);
        }

        function addProduct() {
            console.log("Entered");

            console.log("GOHERE!")
            var product_id = JSON;
            var serv_request = new XMLHttpRequest();
            serv_request.open('POST', '/Nukupi/f/rest/products', false);
            serv_request.setRequestHeader("Content-type", "application/json");
            var name = document.getElementById("product-name").value;
            var description = document.getElementById("product-description").value;
            var price = document.getElementById("product-price").value;
            var category = document.querySelector('input[name="radio"]:checked').value;
            var image = [];
            var data = {
                title: name,
                description: description,
                images: image,
                category: category,
                price: Number(price),
                authorID: user_id //user_id
            }
            console.log(data);
            serv_request.onreadystatechange = function() {
                if (serv_request.readyState == 4 && serv_request.status == 200) {
                    product_id = serv_request.responseText;
                    console.log("product id");
                    console.log(product_id);
                }
            }
            serv_request.send(JSON.stringify(data));
            if(document.getElementById("imgupload1").files.length != 0 ) {
                uploadFile(1, product_id);
            }
            // if(document.getElementById("imgupload2").files.length != 0 ) {
            //     uploadFile(2, product_id);
            // }
            // if(document.getElementById("imgupload3").files.length != 0 ) {
            //     uploadFile(3, product_id);
            // }
            // if(document.getElementById("imgupload3").files.length != 0 ) {
            //     uploadFile(4, product_id);
            // }
            universalCall();
        }

    </script>

    <script>
        function dropDown() {
            document.getElementById("myDropdown").classList.toggle("show");
            var serv_request = new XMLHttpRequest();
            console.log("uuuuu " + user_id);
            serv_request.open('GET', '/Nukupi/f/rest/users/myinfo?userid='+user_id, false);
            serv_request.setRequestHeader("Content-type", "application/json");
            serv_request.onreadystatechange = function() {
                if (serv_request.readyState == 4 && serv_request.status == 200) {
                    var mdata = JSON.parse(serv_request.responseText);
                    console.log(mdata);
                    console.log(serv_request.responseText);
                    document.getElementById("user_name").innerHTML ="Hi, " +  mdata[0].name;
                    document.getElementById("user_tel").innerHTML = "Tel: " + mdata[0].phone_number;
                    document.getElementById("user_email").innerHTML = mdata[0].email;
                    console.log(mdata[0].name);
                    console.log(mdata[0].phone_number);
                    console.log(mdata[0].email);
                    if(mdata[0].type == "Moderator"){
                        document.getElementById("logBtn").innerHTML = "<a href=\"\" data-toggle=\"modal\" data-target=\"#logsModal\">Logs</a>";
                    }
                }
            }
            serv_request.send(null);

        }

        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
        function eraseText() {
            document.getElementById("messageBox").value = "";
        }

    </script>

</head>

<body onload="dynamicCards.addCard(), getuserid()">
<div class="se-pre-con">
    <div class="cssload-loader"></div>
</div>
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <a href="#banner" class="logo"><img src="img/NMlogo.png" alt=""/></a>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <ul>
                    <li>
                        <button class="addproduct" onclick="getuserid()" data-toggle="modal" data-target="#DemoModal" id="open-modal" >ADD PRODUCT</button>
                        <div class="dropdown">
                            <button onclick="dropDown()" class="dropbtn">MY PROFILE</button>
                            <div id="myDropdown" class="dropdown-content">
                                <center><div id="user_name"></div></center>
                                <br>
                                <div id="user_tel"></div>
                                <div id="user_email" class="dropdown-email"></div>
                                <br>
                                <a href="">My products</a>
                                <div id="logBtn"></div>
                                <a href="" data-toggle="modal" data-target="#changePasswordModal" id="changePasswordBtn">Change password</a>
                                <a href="../index.html" onclick="logOut()" >Log out</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<section id="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.3s">NU KUPI</h1>
                <div>
                    <input type="text" id="searchPlace" name="email" placeholder="Type product name here" class="os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.5s" />
                    <button class="btnsubmit os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.5s" onclick="universalCall()"><img src="img/lup.png" alt=""/>SEARCH
                    </button>
                </div>
            </div>
        </div>


    </div>

</section>

<aside>
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="maincounter">

                    <section class="section section--aava">
                        <form class="checkBoxes" name="checkBoxForm">
                            <div class="innercounter">
                                <div class="toggle-button toggle-button--aava">
                                    <input id="toggleButton" name="checkBoxGroup" type="checkbox" onclick="filterCheckbox(this)">
                                    <label for="toggleButton" data-on-text="Food" data-off-text="Food"></label>
                                    <div class="toggle-button__icon"></div>
                                </div>
                            </div>
                            <div class="innercounter">
                                <div class="toggle-button toggle-button--aava">
                                    <input id="toggleButton2" name="checkBoxGroup" type="checkbox" onclick="filterCheckbox(this)">
                                    <label for="toggleButton2" data-on-text="Clothes" data-off-text="Clothes"></label>
                                    <div class="toggle-button__icon"></div>
                                </div>
                            </div>
                            <div class="innercounter">
                                <div class="toggle-button toggle-button--aava">
                                    <input id="toggleButton3" name="checkBoxGroup" type="checkbox" onclick="filterCheckbox(this)">
                                    <label for="toggleButton3" data-on-text="Domestic" data-off-text="Domestic"></label>
                                    <div class="toggle-button__icon"></div>
                                </div>
                            </div>
                            <div class="innercounter">
                                <div class="toggle-button toggle-button--aava">
                                    <input id="toggleButton4" name="checkBoxGroup" type="checkbox" onclick="filterCheckbox(this)">
                                    <label for="toggleButton4" data-on-text="Other" data-off-text="Other"></label>
                                    <div class="toggle-button__icon"></div>
                                </div>
                            </div>
                        </form>
                    </section>
                    <!--</div>-->
                </div>

            </div>
        </div>
    </div>
</aside>
<section id="destination">
    <div class="container">
        <!--SLIDE CONTAINER HERE-->
        <div class="row">
            <div class="slidecontainer">

                <p>Price filter:</p>
                <input type="range" min="0" max="10000" value="10000" class="slider" id="myRange">
                <p><span id="sliderOutputVal">No price filter</span></p>
            </div>
        </div>
        <div id="maxORIGDIV">
            <div class="row">

                <section>
                    <div v-for="card in cards" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div v-on:click="showModal_description(card)" class="innerimg" data-os-animation="zoomIn" data-os-animation-delay="0.5s">
                            <img :src="card.images[0]"   class="mainimg" />
                            <button class="price">{{ card.price }}</button>
                            <div class="innercontent">
                                <h5>{{ card.title }}</h5>
                                <span>{{ card.description }}</span>
                            </div>
                        </div>
                    </div>
                </section>

            </div>

            <div v-if="isLoaded == false"> <img src="img/loading.gif" alt="Loading" height="64" width="64"> </div>
        </div>
        <!-- <img src="img/loading.gif" alt="Loading" height="42" width="42"> -->
        <!-- <img v-if="isLoaded == false" src="img/loading.gif" alt="Loading"> -->
        <!--<button class="explore os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.6s">EXPLORE MORE DESTINATIONS</button>-->
    </div>
</section>


<footer>
    <div class="container">

    </div>
</footer>


<script type="text/javascript" src="../js/script.js"></script>
<script src="../js/countUp.js"></script>
<script type="text/javascript" src="../js/waypoints.min.js"></script>
<!--slider-->
<script>
    var slider = document.getElementById("myRange");
    var output = document.getElementById("sliderOutputVal");
    //    var defPrice = document.getElementById("myRange").defaultValue;
    var mydata = JSON;
    var curQuery = {
        currTitle: "",
        currentCat: "",
        initialUrl: "/Nukupi/f/rest/products/filters",
        curUrl: "",
        defPrice: 27000000,
        curPage: 1
    };
    var curPageOnLoad = false;

    // slider = x;
    // slider.value.defaultValue.t = "Choose value";

    slider.oninput = function() {
        if (this.value == 0) {
            output.innerHTML = "free";
            curQuery.defPrice = this.value;
        } else if (this.value < 10000) {
            output.innerHTML = "Less than: " + String(this.value) + "₸";
            curQuery.defPrice = this.value;
        } else {
            output.innerHTML = "No price filter";
            curQuery.defPrice = 27000000;
        }
        curQuery.defPrice = this.value;
    }

</script>
<!--Filter bar-->
<script>
    var filterArr = [0, 0, 0, 0];
    var categories = ["food", "clothes", "domestic", "other"];



    //    var currTitle = "";
    //    var currentCat = "";
    //    var initialUrl = "http://188.166.91.64:8080/Nukupi_war/rest/products/filters";
    //    var curUrl = "";


    function filterCheckbox(element) {
        // Get the checkbox
        var group = document.checkBoxForm.checkBoxGroup;

        for (var i = 0; i < group.length; i++) {
            if (group[i] != element) {
                group[i].checked = false;
                filterArr[i] = 0;
            } else {
                if (group[i].checked == false) {
                    filterArr[i] = 0;
                } else {
                    filterArr[i] = 1;
                }
            }
        }

        curQuery.currentCat = "";
        for (var i = 0; i < group.length; i++) {
            if (filterArr[i] == 1) {
                curQuery.currentCat = categories[i];
            }
        }

        universalCall();
    }


    function getTitle() {
        curQuery.currTitle = document.getElementById("searchPlace").value;
    }


    var dynamicCards = new Vue({
        el: '#maxORIGDIV',
        data() {
            return {
                bottom: false,
                isLoaded: true,
                isFirst: true,
                cards: []
            }
        },
        watch: {
            bottom(bottom) {
                if ((bottom && this.isLoaded) || this.isFirst) {
                    this.addCard()
                }
            }
        },
        created() {
            window.addEventListener('scroll', () => {
                this.bottom = this.bottomVisible()
        })
            // this.addCard()
        },
        methods: {
            showModal_description(idx) {
                var p_user_id = idx.authorID;
                var p_user_email = " ";
                var p_user_phone = " ";
                var serv_request = new XMLHttpRequest();
                serv_request.open('GET', '/Nukupi/rest/users/getuserinfo?userid=' + p_user_id, false);
                serv_request.setRequestHeader("Content-type", "application/json");
                serv_request.onreadystatechange = function() {
                    if (serv_request.readyState == 4 && serv_request.status == 200) {
                        var info = serv_request.responseText.split(",");
                        p_user_email = info[0];
                        p_user_phone = info[1];
                        console.log(p_user_email);
                        console.log(p_user_phone);
                    }
                }
                serv_request.send();
                // console.log("TRYING");
                // console.log(idx);
                $('#openModal').modal('show');
                document.getElementById("pr").innerHTML = idx.price;
                document.getElementById("ctgr").innerHTML = idx.category;
                document.getElementById("descript").innerHTML = idx.description;
                document.getElementById("item_title").innerHTML = idx.title;
                document.getElementById("userEmail").innerHTML = p_user_email;
                document.getElementById("userPhone").innerHTML = p_user_phone;
                // console.log("modal description");
                // var firstImage = window.location.href + "rest/images?id=" + idx.images[0];
                // console.log(firstImage);
                // document.getElementById("main").valueOf().src = firstImage;

                console.log("in images");
                console.log(idx);
                console.log("idx");
                imageSlide(idx);

            },


            bottomVisible() {
                const scrollY = window.scrollY
                const visible = document.documentElement.clientHeight
                const pageHeight = document.documentElement.scrollHeight
                const bottomOfPage = visible + scrollY >= pageHeight
                return bottomOfPage || pageHeight < visible
            },
            createImageURL(imageNotCreated){
                var temp = [];
                if (imageNotCreated.images.length == 0) {
                    if (imageNotCreated.category.toUpperCase() === "OTHER") {
                        temp[0] = "img/other.jpg";
                    } else if (imageNotCreated.category.toUpperCase() === "FOOD") {
                        temp[0] = "img/food.jpg";
                    } else if (imageNotCreated.category.toUpperCase()  === "DOMESTIC") {
                        temp[0] = "img/domestic.jpg";
                    } else if (imageNotCreated.category.toUpperCase()  === "CLOTHES") {
                        temp[0] = "img/clothes.jpg";
                    }

                }else{
                    for (let i=0; i<imageNotCreated.images.length; ++i) {
                        temp[i] =  "http://localhost:8080/Nukupi/f/rest/images?id=" + imageNotCreated.images[i];
                    }
                }
                return temp;
            },

            addCard() {
                this.isLoaded = false;
                this.isFirst = false;
                insertParam("pagenum", curQuery.curPage);
                insertParam("title", curQuery.currTitle);
                insertParam("price", curQuery.defPrice);
                insertParam("category", curQuery.currentCat);
                var finalUrl = curQuery.initialUrl.concat(curQuery.curUrl);
                console.log("ENTERED AXIOS");
                console.log(this.isFirst);
                axios.get(finalUrl)
                    .then(response => {
                    console.log("STARTED PARSING");
                // console.log(this.isLoaded);
                for (const api in response.data) {
                    let apiInfo = {
                        id: response.data[api].ID,
                        title: response.data[api].title,
                        description: response.data[api].description,
                        category: response.data[api].category,
                        price: response.data[api].price,
                        authorID: response.data[api].authorID,
                        images: this.createImageURL(response.data[api])
                    };
                    // console.log(apiInfo);
                    this.cards.push(apiInfo)

                }
                if (this.bottomVisible() && this.isLoaded) {
                    this.addCard()
                }
                curQuery.curPage = curQuery.curPage + 1;
                this.isLoaded = true;
            })
            }
        }
    });


    function universalCall() {
        getTitle();
        curQuery.curPage = 1;
        insertParam("title", curQuery.currTitle);
        insertParam("price", curQuery.defPrice);
        insertParam("category", curQuery.currentCat);
        insertParam("pagenum", curQuery.curPage);

        //         console.log("I am here 0");
        freeAllCards(function() {
            //            console.log("I am here 1");
            var finalUrl = curQuery.initialUrl.concat(curQuery.curUrl);
            //           console.log(curQuery.currTitle);

        });
        console.log("STARTING DYNAMICS");
        // dynamicCards.addCard;
    }

</script>
<!--RETRIEVE CARDS-->
<script>
    function insertParam(key, value) {
        key = encodeURIComponent(key);
        value = encodeURIComponent(value);

        var s = curQuery.curUrl;
        var kvp = key + "=" + value;

        var r = new RegExp("(&|\\?)" + key + "=[^\&]*");

        s = s.replace(r, "$1" + kvp);

        if (!RegExp.$1) {
            s += (s.length > 0 ? '&' : '?') + kvp;
        };

        //again, do what you will here
        curQuery.curUrl = s;
    }


    function freeAllCards(callback) {
        curQuery.curPage = 1;

        dynamicCards.cards = [];
        callback();

    }

</script>

<script>
    var cnt = 0;
    var timer;
    var imgadr;

    function imageSlide(idx) {
        imgadr = []; 
        console.log("SLIDERIMAGE");
        document.getElementById("imgSlider").setAttribute('src', '#');
        console.log(idx);
        imgadr = idx.images.slice();
        console.log(imgadr);
        // mydata[nn].images.slice();
        if (imgadr.length == 0) {
            if (idx.category.toUpperCase() === "OTHER") {
                document.getElementById('imgSlider').valueOf().src = "img/food.jpg";
            } else if (idx.category.toUpperCase() === "FOOD") {
                document.getElementById('imgSlider').valueOf().src = "img/food.jpg";
            } else if (idx.category.toUpperCase()  === "DOMESTIC") {
                document.getElementById('imgSlider').valueOf().src = "img/domestic.jpg";
            } else if (idx.category.toUpperCase()  === "CLOTHES") {
                document.getElementById('imgSlider').valueOf().src = "img/clothes.jpg";
            }
        } else {
            console.log(imgadr);
            sliderTimer();
        }
    }

    function sliderTimer() {
        timer = setInterval(function() {
            sliderI();
        }, 3500);
    }

    function sliderI() {
        cnt++;
        if (cnt >= imgadr.length)
            cnt = 0;
        var imSlider = document.getElementById('imgSlider');
        imSlider.valueOf().src =imgadr[cnt];
    }

    function next() {
        clearInterval(timer);

        cnt++;
        if (cnt == imgadr.length)
            cnt = 0;

        var imSlider = document.getElementById('imgSlider');
        imSlider.valueOf().src = imgadr[cnt];
        sliderTimer();
    }

    function prev() {
        console.log('prev');
        clearInterval(timer);

        cnt--;
        if (cnt == -1)
            cnt = imgadr.length - 1;

        var imSlider = document.getElementById('imgSlider');
        imSlider.valueOf().src = imgadr[cnt];
        sliderTimer();
    }

</script>

<!-- Modal -->
<div class="modal fade" id="DemoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h7 class="modal-title" id="exampleModalLabel">ADD PRODUCT FORM</h7>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span><span class = "sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <forma>
                    Enter product name: <br> <br> <input style = "height: 40px" id="product-name" class="form-control" type="text" />
                    <br> Enter product description: <br> <br> <input style = "height: 40px" id="product-description" class="form-control" type="text" />
                    <br> Enter product price: <br> <br> <input style = "height: 40px" id="product-price" class="form-control" type="number" min=0 oninput="validity.valid||(value='');" />
                    <div class="categradio">
                        <br> Select a category:
                        <div class="categradio-1">
                            <input type="radio" name="radio" id="radio1" value="Food" />
                            <label for="radio1">Food</label>
                        </div>
                        <div class="categradio-2">
                            <input type="radio" name="radio" id="radio2" value="Clothes" />
                            <label for="radio2">Clothes</label>
                        </div>
                        <div class="categradio-3">
                            <input type="radio" name="radio" id="radio3" value="Domestic" />
                            <label for="radio3">Domestic</label>
                        </div>
                        <div class="categradio-4">
                            <input type="radio" name="radio" id="radio4" value="Other" />
                            <label for="radio4">Other</label>
                        </div>
                    </div>
                    <div class="input-image">
                        <forma>
                            <label class="fileContainer">
                                Click here to trigger the file uploader!
                                <input type="file"/>
                            </label>
                        </forma>
                    </div>
                    <!--<form id="img-show">-->
                    <!--<img id='img-upload'/>-->
                    <!--</form>-->
                </forma>
            </div>
            <div class="modal-footer">
                <button type="button" id="submit-add-form" onclick="addProduct()" class="btn btn-default" data-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>


<!--Modal for product description-->
<div class="modal fade" id="openModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h7 class="modal-title" id="exampleModalLabel">Product Information</h7>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span><span class = "sr-only">Close</span></button>
            </div>
            <div class="modal-body">

                <div id="imageSlider">
                    <img id="imgSlider" src="" width="324px" height="300px" alt = "wait for it" style = "float:left">
                    <div class="icon" id="left"><i class="fa fa-angle-left" onclick="prev()"></i></div>
                    <div class="icon" id="right"><i class="fa fa-angle-right" onclick="next()"></i></div>
                    <center>
                        <div id="item_des">
                            <b><strong><h3 id="item_title"></h3></strong></b>
                            <h4 type="text" id="pr"></h4>
                            <h7 type="text" id="ctgr"></h7>
                            <h3 type="text" id="descript"></h3>
                            <h5 type="text" id="userEmail"></h5>
                            <h6 type="text" id="userPhone"></h6>
                        </div>
                    </center>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>


<!-- Change password Modal -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h7 class="modal-title" id="exampleModalLabel">CHANGE PASSWORD FORM</h7>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span><span class = "sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <forma>
                    Old password: <input id="old-password" class="form-control" type="password" placeholder="Old password" />
                    <br> New password: <input id="new-password" class="form-control" type="password" placeholder="New password" />


                </forma>
            </div>
            <div class="modal-footer">
                <button type="button" id="submit-add-form" onclick="changePassword()" class="btn btn-default" data-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="logsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" >
        <div class="modal-content">
            <div class="modal-header">
                <h7 class="modal-title" id="exampleModalLabel">LOGS</h7>
                <button type="button" onclick="eraseText()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span><span class = "sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <forma>
                    <div class="wrap">
                        <div class="search">
                            <input type="text" class="searchTerm" id="logSearchBox" placeholder="Search...">
                            <button type="button" class="searchButton" onclick="searchLogs()">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                        <center><div class="radioFilter">
                            <div class="maxl">
                                <label class="radio inline">
                                    <input type="radio" id="logUser" name="filter" value="User">
                                    <span>User</span>
                                </label>
                                <label class="radio inline">
                                    <input type="radio" id="logProduct" name="filter" value="Product">
                                    <span>Product</span>
                                </label>
                                <label class="radio inline">
                                    <input type="radio" id="logImage" name="filter" value="Image">
                                    <span>Image</span>
                                </label>
                                <label class="radio inline">
                                    <input type="radio" id="logAll" name="filter" value="All" checked>
                                    <span>All</span>
                                </label>
                            </div>
                        </div></center>
                        <center><textarea readonly id="messageBox" class="msgbox" wrap="off"></textarea></center>
                    </div>
                </forma>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="eraseText()" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</body>

</html>
